{% extends 'base.html' %}
{% block content %}
<div class="container-fluid padding">
  <div class="container py-5">
    <h1 div class="display-0 fw-semibold">Наши контакты</h1>
    <div class="row row-cols-1 row-cols-lg-3 mt-5">
      <div class="col">
        <h1 class="">Номера телефонов</h3>
        <div class="p-3">
          <div class="mb-3">
            <p class="text-muted m-0">Кондратьева Екатерина Петровна</p>
            <h5 class="">+7 (905) 242-22-67</h5>
          </div>
          <div class="mb-3">
            <p class="text-muted m-0">Гончарова София Александровна (Для справок)</p>
            <h5 class="">+7 (909) 777-90-51</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <h1 class="">Социальные сети</h1>
        <div class="p-3">
          <div class="mb-3">
            <p class="text-muted m-0">VK</p>
            <h5 class=""><a class="text-blue" href="https://vk.com/kenig_acro">@kenig_acro</a></h5>
          </div>
          <div class="mb-3">
            <p class="text-muted m-0">YouTube</p>
            <h5 class=""><a class="text-blue" href="https://www.youtube.com/@sports_acro39">@sports_acro39</a></h5>
          </div>
        </div>
      </div>
      <div class="col">
        <h1 class="">Адреса залов</h1>
        <div class="p-3">
          <div class="mb-3">
            <p class="text-muted m-0">СШ №1 / МАОУ ДТДиМ</p>
            <h5 class="">г. Калининград, ул. Сергеева 10</h5>
          </div>
          <div class="mb-3">
            <p class="text-muted m-0">ШСА «Пирамида»</p>
            <h5 class="">г. Калининград, ул. Аксакова 112</h5>
          </div>
          <div class="mb-3">
            <p class="text-muted m-0">«Kenig Jump»</p>
            <h5 class="">г. Калининград, ул. Гаражная 2</h5>
          </div>
          <div class="mb-3">
            <p class="text-muted m-0">ГАУ ДО КО «Комплексная спортивная школа Олимпийского резерва»</p>
            <h5 class="">г. Калининград, ул. Гагарина 99</h5>
          </div>
          <div class="mb-3">
            <p class="text-muted m-0">МАУ ДК «Машиностроитель»</p>
            <h5 class="">г. Калининград, ул. Карташева 111</h5>
          </div>
          <div class="mb-3">
            <p class="text-muted m-0">МАУ ДО МО «СГО» «ДШИ г. Светлого»</p>
            <h5 class="">г. Светлый, ул. Советская 8</h5>
          </div>
          <div class="mb-3">
            <p class="text-muted m-0">МБУ ДО ДЮСШ г. Гвардейска</p>
            <h5 class="">г. Гвардейск, ул. Калининградская 19</h5>
          </div>
          <div class="mb-3">
            <p class="text-muted m-0">ДЮСШ г. Славска</p>
            <h5 class="">г. Славск, ул. Спортивная 12</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5 mb-5 px-5" style="height: 500px;">
  <iframe class="w-100 h-100 rounded" src="https://yandex.ru/map-widget/v1/?um=constructor%3Af8200b64b7f6436e197785b113864159095af4d0304af8cde6f2f650f41bf8ba&amp;source=constructor" width="480" height="240" frameborder="0"></iframe>
</div>
{% endblock %}