{% extends 'base.html' %}
{% block content %}
<div class="padding px-3">
  <main class="container py-5">
    <div class="row g-5">
      <div class="col-lg-8">
        <article class="blog-post mb-5">
          <h2 class="">
            Как выбрать тренера для ребёнка?
          </h2>
          <p class="blog-post-meta text-muted">20.07.2023</p>
          <hr>
          <p>У многих родителей возникает вопрос о том как выбрать тренера для ребенка. В настоящее время спортивные занятия являются одной из важных областей для полноценного развития личности. Правильная физическая нагрузка способна позитивно влиять на здоровье ребенка, формирование его организма.</p>
          <p>Выбор первого тренера очень важен, так как именно от него зависит, понравится ли заниматься ребенку, захочет ли он подражать своему учителю, будет ли прислушиваться к его рекомендациям.</p>
          <p><strong>Мы представляем вам наш тренерский состав:</strong></p>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/ao.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Овчинникова Ангелина Олеговна</strong></p>
              <p>МАСТЕР СПОРТА РОССИИ ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Работает в бригаде старших тренеров сборной Калининградской области</p>
              <p>Тренерский стаж - 6 лет</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Начальная подготовка» от 5 до 8 лет</li>
                <li>«Спортивная подготовка» от 5 до 16 лет</li>
                <li>«Парно-групповая акробатика» от 6 лет</li>
              </ul>
              <p>ул. Аксакова 112 / ул. Сергеева 10</p>
              <p><a class="text-blue" href="https://vk.com/angelina.ovchinnikova0">VK</a></p>
            </div>
          </div>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/sa.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Гончарова София Александровна</strong></p>
              <p>МАСТЕР СПОРТА РОССИИ ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Работает тренером сборной команды Калининградской области</p>
              <p>Тренерский стаж - 3 года</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Малыш» от 3 до 5 лет</li>
                <li>«Начальная подготовка» от 5 до 8 лет</li>
              </ul>
              <p>ул. Аксакова 112</p>
              <p><a class="text-blue" href="https://vk.com/sofi_acro39">VK</a></p>
            </div>
          </div>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/evi.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Кантонистова Екатерина Витальевна</strong></p>
              <p>МАСТЕР СПОРТА РОССИИ ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Тренерский стаж - 3 года</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Малыш» от 3 до 5 лет</li>
                <li>«Начальная подготовка» от 5 до 8 лет</li>
              </ul>
              <p>ул. Аксакова 112</p>
              <p><a class="text-blue" href="https://vk.com/acro_katerina">VK</a></p>
            </div>
          </div>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/aa.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Далечин Александр Алексеевич</strong></p>
              <p>КАНДИДАТ В МАСТЕРА СПОРТА ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Тренерский стаж - 12 лет</p>
              <p>С 01.09.2008 по 20.04.2011 гг.. работал в СДЮШОР по спортивной акробатике в Санкт-Петербурге, на должности тренера-преподавателя.
                С 01.09.2015 по 01.08.2022 гг.. работал руководителем студии акробатики в Ленинградской области
                С 01.08.2022 г. по настоящее время является тренером Центра Спортивной Акробатики в г. Калининград</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Малыш» от 3 до 5 лет</li>
                <li>«Начальная подготовка» от 5 до 8 лет</li>
                <li>«Начальная подготовка» от 8 до 14 лет</li>
              </ul>
              <p>ул. Аксакова 112 / г. Гурьевск, ул. Ленина 2В</p>
              <p><a class="text-blue" href="https://vk.com/acrobaltica">VK</a></p>
            </div>
          </div>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/vs.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Петрунин Владислав Сергеевич</strong></p>
              <p>МАСТЕР СПОРТА РОССИИ ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Работает тренером сборной команды Калининградской области</p>
              <p>Тренерский стаж - 5 лет</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Начальная подготовка» от 5 до 8 лет</li>
                <li>«Акропрыжки для детей» от 6 до 16 лет</li>
              </ul>
              <p>ул. Аксакова 112</p>
              <p><a class="text-blue" href="https://vk.com/vlad_acro39">VK</a></p>
            </div>
          </div>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/nv.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Кулинич Никита Владимирович</strong></p>
              <p>МАСТЕР СПОРТА РОССИИ ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Работает тренером сборной команды Калининградской области</p>
              <p>Тренерский стаж - 5 лет</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Начальная подготовка» от 5 до 8 лет</li>
                <li>«Начальная подготовка» от 8 до 14 лет</li>
              </ul>
              <p>ул. Аксакова 112</p>
              <p><a class="text-blue" href="https://vk.com/nkulinich2002">VK</a></p>
            </div>
          </div>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/da.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Гончаров Дмитрий Александрович</strong></p>
              <p>МАСТЕР СПОРТА РОССИИ ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Тренерский стаж - 8 лет</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Начальная подготовка» от 8 до 14 лет</li>
                <li>«Спортивная подготовка» от 5 до 14 лет</li>
                <li>«Акропрыжки для взрослых»</li>
              </ul>
              <p>ул. Аксакова 112 / г. Светлый, ул. Горького 3А</p>
              <p><a class="text-blue" href="https://vk.com/id747662813">VK</a></p>
            </div>
          </div>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/vl.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Кузенкова Вероника Леонидовна</strong></p>
              <p>КАНДИДАТ В МАСТЕРА СПОРТА ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Тренерский стаж - 1 год</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Начальная подготовка» от 5 до 8 лет</li>
                <li>«Начальная подготовка» от 8 до 14 лет</li>
              </ul>
              <p>ул. Аксакова 112</p>
              <p><a class="text-blue" href="https://vk.com/id844002198">VK</a></p>
            </div>
          </div>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/ov.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Незговорова Ольга Владимировна</strong></p>
              <p>МАСТЕР СПОРТА РОССИИ ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Тренерский стаж - 20 лет</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Начальная подготовка» от 8 до 14 лет</li>
                <li>«Спортивная подготовка» от 5 до 14 лет</li>
              </ul>
              <p>ул. Аксакова 112 / ул. Сергеева 10</p>
              <p><a class="text-blue" href="https://vk.com/id759731956">VK</a></p>
            </div>
          </div>
          <div class="d-inline d-lg-flex flex-lg-row-reverse justify-content-between mb-3">
            <div class="px-5 py-5 py-lg-0 d-flex justify-content-center align-items-center">
              <div class="rounded-circle"
                style="background: top / cover url(/static/coach/sal.png); height: 256px; width: 256px;">
              </div>
            </div>
            <div class="">
              <p><strong>Пустобаева Софья Алексеевна</strong></p>
              <p>КАНДИДАТ В МАСТЕРА СПОРТА ПО СПОРТИВНОЙ АКРОБАТИКЕ</p>
              <p>Тренерский стаж - 1 год</p>
              <p>Работа с группами</p>
              <ul>
                <li>«Малыш» от 3 до 5 лет</li>
              </ul>
              <p>ул. Аксакова, 112</p>
              <p><a class="text-blue" href="https://vk.com/ssovvia">VK</a></p>
            </div>
          </div>

          <div class="">
            <div class="photo-grid">
              {% for attachment in article.photos %}
              <img src="{{ attachment }}" class="rounded media">
              {% endfor %}
            </div>
          </div>
        </article>
        <div class="py-5">
          <a class="btn btn-blue m-2" href="/wall">Все новости</a>
          <a class="btn btn-outline-dark m-2" aria-disabled="true">Календарь соревнований</a>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="position-sticky" style="top: 80px;">
          <a href="/ms" class="text-decoration-none">
            <div class="p-4 mb-3 bg-blue rounded">
              <h4 class="text-light">Мастера спорта</h4>
              <p class="text-light mb-0">Актуальный список мастеров спорта России по спортивной акробатике в
                калининградской области</p>
            </div>
          </a>
          <div>
            <h3 class="">Недавние новости</h3>
            <ul class="list-unstyled">
              {% for post in last %}
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none"
                  href="#">
                  {% for photo in post.photos %}
                  {% if forloop.counter == 1 %}
                  <div class="w-100 rounded" style="height: 96px; background: center / cover url('{{ photo }}');"></div>
                  {% endif %}
                  {% endfor %}
                  {% if post.cover %}
                  <div class="w-100 rounded" style="height: 96px; background: center / cover url('{{ post.cover }}');">
                  </div>
                  {% endif %}
                  <div class="col-lg-8">
                    <h6 class="mb-0">{{ post.title }}</h6>
                    <small class="text-muted">{{ post.date|date:"d.m.Y" }}</small>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="p-4">
            <h4 class="">Все статьи</h4>
            <ol class="list-unstyled mb-0">
              {% for article in articles %}
              <li class="mb-3"><a class="text-blue" href="/article/{{ article.art }}">{{ article.title }}</a></li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

<script>
  document.querySelectorAll('.post-text').forEach(element => {
    element.innerHTML = element.innerHTML.replace(/&lt;br&gt;/g, '<br>');
  });

  document.addEventListener('DOMContentLoaded', function () {
    // Создаем массив промисов для каждого изображения
    const imagePromises = [];

    // Для каждого изображения с классом .media
    document.querySelectorAll('.media').forEach(element => {
      const imagePromise = new Promise((resolve, reject) => {
        element.onload = function () {
          const w = element.naturalWidth;
          const h = element.naturalHeight;
          console.log(w, h);

          if (w > h) {
            element.classList.add('photo-wide');
          } else if (w <= h) {
            element.classList.add('photo-tall');
          }
          resolve();  // Завершаем промис, когда изображение загружено
        };

        element.onerror = function () {
          reject('Ошибка загрузки изображения');  // Обработка ошибок
        };

        // Если изображение уже загружено, сразу вызываем onload
        if (element.complete) {
          element.onload();
        }
      });

      // Добавляем промис в массив
      imagePromises.push(imagePromise);
    });

    // Ждем, пока все изображения загрузятся и получат классы
    Promise.all(imagePromises).then(() => {
      // После того как все изображения получили свои классы, выполняем сортировку
      const photoGrids = document.querySelectorAll('.photo-grid');

      photoGrids.forEach(photoGrid => {
        const photos = Array.from(photoGrid.querySelectorAll('.media'));

        // Разделяем фотографии по классам
        const widePhotos = photos.filter(photo => photo.classList.contains('photo-wide'));
        const tallPhotos = photos.filter(photo => photo.classList.contains('photo-tall'));
        const otherPhotos = photos.filter(photo => !photo.classList.contains('photo-wide') && !photo.classList.contains('photo-tall'));

        // Очистка контейнера перед добавлением отсортированных элементов
        photoGrid.innerHTML = '';

        // Добавляем сначала фото с классом .photo-wide, затем .photo-tall и затем остальные
        widePhotos.forEach(photo => photoGrid.appendChild(photo));
        tallPhotos.forEach(photo => photoGrid.appendChild(photo));
        otherPhotos.forEach(photo => photoGrid.appendChild(photo));
      });

      console.log('Все изображения отсортированы');
    }).catch((error) => {
      console.error(error);
    });
  });
</script>
{% endblock %}