{% extends 'base.html' %}
{% block content %}
<div class="container-fluid full-min d-flex flex-fill px-0 bg-coach" style="background: bottom right / contain no-repeat url('static/coach-alpha/ev.png');">
  <div class="container px-4 pt-5">
    <div class="row h-100 d-flex align-items-center">
      <div class="col-lg-8 pb-5 d-felx flex-column" style="z-index: 1;">
        <strong class="text-blue">3 — 5 лет</strong>
        <h1 class="fw-semibold display-1 text-body-emphasis mb-3">Группа "Малыш"</h1>
        <ul class="">
          <li><p class="lead">Гончарова София Александровна</p></li>
          <li><p class="lead">Кантонистова Екатерина Витальевна</p></li>
          <li><p class="lead">Далечин Александр Алексеевич</p></li>
          <li><p class="lead">Пустобаева Софья Алексеевна</p></li>         
        </ul>
        <div class="pt-5">
          <button type="button" class="btn btn-blue mb-3">+7 (963) 299-77-16</button>
          <button type="button" class="btn btn-outline-dark mb-3">ул. Сергеева, 10</button>
          <button type="button" class="btn btn-outline-dark mb-3">ул. Аксакова, 112</button>
        </div>
      </div>
      <div class="col-lg-4 align-self-stretch img-coach" style="z-index: 0;">
        <div class="h-100" style="background: bottom / contain no-repeat url('static/coach0/ev.png');"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid full-min d-flex flex-fill bg-dark text-light">
  <div class="container px-4 pt-5" style="background: bottom / contain no-repeat url('static/coach-alpha/ev.png');">
    <div class="row h-100 d-flex align-items-center">
      <div class="col-lg-4 align-self-stretch" style="z-index: 0;">
        <div class="h-100" style="background: bottom / contain no-repeat url('static/coach0/ep.png');"></div>
      </div>
      <div class="col-lg-8 pb-5 d-felx flex-column" style="z-index: 1;">
        <strong class="text-blue" style="color: #5A6DF5;">3 — 5 лет</strong>
        <h1 class="text-light fw-semibold display-1 text-body-emphasis mb-3">Кондратьева<br>Екатерина Петровна</h1>
        <ul class="">
          <li><p class="lead">Мастер спорта России по спортивной акробатике</p></li>
          <li><p class="lead">Спортивный судья Всероссийской категории</p></li>
          <li><p class="lead">Тренер сборной команды Калининградской области</p></li>
          <li><p class="lead">Директор ШСА «Пирамида»</p></li>
          <li><p class="lead">Тренер МАУ ДО СШ №1</p></li>
          <li><p class="lead">Педагог МАУ ДО ДТДиМ</p></li>
        </ul>
        <div class="pt-5">
          <button type="button" class="btn btn-blue mb-3" style="background: #5A6DF5;">+7 (963) 299-77-16</button>
          <button type="button" class="btn btn-outline-light mb-3">ул. Сергеева, 10</button>
          <button type="button" class="btn btn-outline-light mb-3">ул. Аксакова, 112</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}